@model Bex.Models.GorivoTocenje

@{
    ViewBag.Title = "Gorivo tocenje - Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-image:none;padding:0px;">
    <div class="page-header">
        <h1>Gorivo točenje<small>Evidencija točenja goriva po vozilima</small></h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="../Gorivo">Gorivo</a>
            </li>
            <li class="breadcrumb-item active">Import</li>
        </ol>

    </div>
</div>
<hr />

<div class="row" style="background:#eee;padding:20px;">
    @using (Html.BeginForm("Import", "Gorivo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        <label class="control-label col-sm-2">Datum</label>
        <div class="col-sm-10">
            <div class="'input-group'" type="text">
                @Html.TextBoxFor(model => model.Datum, "{0:dd-MM-yyyy}", new { @class = " form-control  datepicker-dat-datum" })
            </div>
        </div>
    </div>
        <div>
            <label class="control-label col-sm-2">Cena</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Cena, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div>
            <label class="control-label col-sm-2" for="Pumpa">Pumpa</label>
            <div class="col-sm-10">
                @Html.DropDownList("PumpaId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div>
            <label class="control-label col-sm-2">Izaberi fajl</label>
            <div class="col-sm-10">
                <input type="file" name="excelfile" />
                <br />
            </div>
        </div>
         <div>
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <div class="col-sm-4">
                    <input type="submit" value="Import" class="btn btn-primary pull-right " id="showProgress" />
                    <div id="progress" style="display:none;">
                        <button class="btn btn-default" style="margin-top:10px;padding:10px;"> <img src="../images/ui-anim_basic_16x16.gif" /> Sacekajte...</button>
                    </div>
                </div>
            </div>
        </div>
       
    }

</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryDatePickerForm")
            @Scripts.Render("~/bundles/jqueryval")


            <script type="text/javascript">


                $(document).ready(function () {

                    $('.datepicker-dat').datepicker({ dateFormat: 'dd-mm-yy' });
                    $('.datepicker-dat').attr("autocomplete", "off");

                    $('#showProgress').click(function () {
                        $('#showProgress').hide();
                        $('#progress').show();

                    });
                })

                $("form").bind("keydown", function (e) {
                    if (e.keyCode === 13) return false;
                });

                $(function () {
                    $.validator.methods.date = function (value, element) {
                        if ($.browser.webkit) {
                            //ES - Chrome does not use the locale when new Date objects instantiated:
                            var d = new Date();

                            return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                        }
                        else {
                            return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                        }
                    };
                });

            </script>

        }
