@model DDtrafic.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<hr />

<div class="row" style="background:#eee;padding:20px;">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @*<div class="input-group">
                <div class="input-group-prepend">

                    <span class="input-group-text">
                        <i class="fa fa-user"></i>
                    </span>
                </div>

                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Unesite vase korisnicko ime:" })

            </div>*@

        <div>
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Unesite vaše korisnicko ime:" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <div class="col-sm-4"></div>
            <div class="col-md-6">
                <input type="submit" value="OK" class="btn btn-lg btn-primary btn-block" />
            </div>
        </div>
        @*<div class="col-md-12">
                <input type="submit" value="OK" class="btn btn-lg btn-danger btn-block" />
            </div>*@
    }
</div>

