@model DDtrafic.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Log in";

}
@*<div class="jumbotron" style="background-image:none;padding:0px;">
    <div class="page-header">
        <h1>Logovanje korisnika</h1>

        <ol class="breadcrumb">
            <li>Unesite svoje korisničko ime i šifru</li>
        </ol>

    </div>
</div>*@
<hr />




@*<div class="row" style="margin-top:250px; background:#eee;">
    <div class="col-lg-4 col-md-6 col-sm-6"></div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-login">
            <div class="card-header card-header-primary ">
                <img src="~/Content/images/3.png" />
            </div>
            <div class="card-body">*@
<div class="row" style="background:#eee;padding:20px;">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Korisnicko ime" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Lozinka" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        <div>
            <div class="col-sm-4"></div>
            <div class="col-md-6">
                <input type="submit" value="OK" class="btn btn-lg btn-primary btn-block" />
            </div>
        </div>
        <div>
            <div class="col-sm-4"></div>
            <div class="col-md-6">
                <p >
                    @Html.ActionLink("Zaboravili ste lozinku?", "ForgotPassword")
                </p>
            </div>
        </div>
     }
</div>
        @*</div>
                </div>

            </div>*@


