@model DDtrafic.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<hr />


<div class="row" style="background:#eee;padding:20px;">

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div>
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Korisnicko ime" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Unesite novu lozinku" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Ponovite lozinku" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div class="col-sm-4"></div>
            <div class="col-md-6">
                <input type="submit" value="OK" class="btn btn-lg btn-primary btn-block" />
            </div>
        </div>
    }
</div>
