@model Bex.Models.UgovorFakturisanje
@using BexMVC.Helpers
@{
    Layout = null;
}


@using (Html.BeginForm("SaveFakturisanjePartial", "Ugovor", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id, new { Value = @Url.RequestContext.RouteData.Values["id"] })

    @*<div class="form-group">
            @Html.LabelFor(model => model.AdresaTxt, "Adresa", htmlAttributes: new { @class = "control-label col-md-2 small" })
            <div class="col-md-10">
                @Html.AutocompleteFor(model => model.AdresaTxt, model => model.PakId, "GetAdrese", "Kontakt", false, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Kucajte podatke o adresi..." } })
                @Html.ValidationMessageFor(model => model.AdresaTxt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrojTxt, "Broj", htmlAttributes: new { @class = "control-label col-md-2 small" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BrojTxt, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.BrojTxt, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.FakturaDana, "Faktura dana", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FakturaDana, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.FakturaDana, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RabatProcenat, "Rabat %", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RabatProcenat, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.RabatProcenat, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RabatMinBrojPaketa, "Rabat min pak.", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RabatMinBrojPaketa, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.RabatMinBrojPaketa, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RabatProcenatZaBrojPaketa, "Rabat % za broj p.", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RabatProcenatZaBrojPaketa, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.RabatProcenatZaBrojPaketa, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RabatMinIznosFakture, "Rabat min fak.", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RabatMinIznosFakture, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.RabatMinIznosFakture, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RabatProcenatZaIznosFakture, "Rabat % za izn fak", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RabatProcenatZaIznosFakture, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.RabatProcenatZaIznosFakture, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ValutaDana, "Valuta dana", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ValutaDana, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.ValutaDana, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FakturaEmailom, "Faktura E-mailom", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.FakturaEmailom, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.FakturaEmailom, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FakturaPostom, "Faktura postom", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.FakturaPostom, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.FakturaPostom, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SpecifikacijaEmailom, "Specif. Mailom", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.SpecifikacijaEmailom, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.SpecifikacijaEmailom, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SpecifikacijaPostom, "Specif. postom", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.SpecifikacijaPostom, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.SpecifikacijaPostom, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.OdobrenoBezgotovinsko, "Odobreno bezg.", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.OdobrenoBezgotovinsko, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.OdobrenoBezgotovinsko, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.KontaktIdZaSlanje, "Kontakt za slanje", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @*<input id="models">*@
            @Html.AutocompleteFor(model => model.KontaktIdZaSlanje, model => model.KontaktIdZaSlanje, "GetKontakt", "Kontakt", false, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Zapocnite unos..." } })
            @*@Html.ValidationMessageFor(model => model.ModelId, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sacuvaj" class="btn btn-primary pull-right" />
        </div>
    </div>

}
