@model Bex.Models.UgovorObracunCena
@using BexMVC.Helpers
@{
    Layout = null;
}


@using (Html.BeginForm("SaveObracunCenaPartial", "Ugovor", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id, new { Value = @Url.RequestContext.RouteData.Values["id"] })

    @*<div class="form-group">
            @Html.LabelFor(model => model.AdresaTxt, "Adresa", htmlAttributes: new { @class = "control-label col-md-2 small" })
            <div class="col-md-10">
                @Html.AutocompleteFor(model => model.AdresaTxt, model => model.PakId, "GetAdrese", "Kontakt", false, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Kucajte podatke o adresi..." } })
                @Html.ValidationMessageFor(model => model.AdresaTxt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrojTxt, "Broj", htmlAttributes: new { @class = "control-label col-md-2 small" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BrojTxt, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.BrojTxt, "", new { @class = "text-danger" })
            </div>
        </div>*@


    <div class="form-group">
        @Html.LabelFor(model => model.PovlasceneCeneKlijentuId, "Povlascene cene", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PovlasceneCeneKlijentuId, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.PovlasceneCeneKlijentuId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NaplataId, "Naplata", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NaplataId, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.NaplataId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BezZastitneCene, "Bez zast. cene", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.BezZastitneCene, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.BezZastitneCene, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NaplataPoFakturi, "Napl. po fak.", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.NaplataPoFakturi, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.NaplataPoFakturi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FakturaProc, "Fak. proc.", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FakturaProc, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.FakturaProc, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ZastitnaCenaFak, "Zast. cena fak.", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ZastitnaCenaFak, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.ZastitnaCenaFak, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DodatakZaGorivo, "Dodatak gorivo", htmlAttributes: new { @class = "control-label col-md-2 small" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DodatakZaGorivo, new { htmlAttributes = new { @class = "form-control input-sm" } })
            @Html.ValidationMessageFor(model => model.DodatakZaGorivo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sacuvaj" class="btn btn-primary pull-right" />
        </div>
    </div>

}
