@model BexMVC.ViewModels.StreetIndexData
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />




@{
    ViewBag.Title = "Ulice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Evidencija ulica</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                &nbsp;
                <div class="pull-left">
                    @*@using (Html.BeginForm("", "User", FormMethod.Get))
                        {
                            <p>
                                Pretraga po imenu: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                <input type="submit" value="Trazi" />
                            </p>
                        }*@

                </div>


                @*<div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Opcije
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                @Html.ActionLink("Dodaj novog korisnika", "Create")
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Stampaj bar kod</a>
                            </li>
                        </ul>
                    </div>
                </div>*@


            </div>
            <table class="table">
                @using (Html.BeginForm("", "Street", FormMethod.Get, htmlAttributes: new { @class = "form-inline" }))
                {
                    <tr style="background-color:#dff0d8;">
                        <th></th>
                        <th>
                            @Html.TextBox("searchUlica", ViewBag.CurrentNazivUliceFilter as string, htmlAttributes: new { @class = "form-control input-sm" })
                        </th>
                        <th>
                            @Html.TextBox("searchMesto", ViewBag.CurrentNazivMestaFilter as string, htmlAttributes: new { @class = "form-control input-sm" })
                            <input type="submit" value="Trazi" class="btn-sm btn-primary" style="display:none;" />
                        </th>
                    </tr>
                }
                <tr>
                    <th></th>
                    <th>Ulica</th>
                    <th>Mesto</th>
                </tr>
                @foreach (var item in Model.Street)
                {
                    string selectedRow = "";
                    if (item.Id == ViewBag.Id)
                    {
                        selectedRow = "success";
                    }
                    <tr class="@selectedRow" valign="top">
                        <td>
                            @Html.ActionLink(" ", "Index", new { id = item.Id }, new { @class = "fa fa-sitemap" }) |
                            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-eye", @disabled = "disabled" }) |
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil", @disabled = "disabled" }) |
                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-remove", @disabled = "disabled" })
                        </td>
                        <td>
                            @item.StreetName
                        </td>
                        <td>
                            @item.Place.PlaceName
                        </td>
                    </tr>
                }
            </table>
        </div>
        <br />
        <div id='Paging' style="text-align:center">
            @Html.PagedListPager((IPagedList)ViewBag.OnePageKontakt, page => Url.Action("Index", new { page }))
            Strana @ViewBag.PageNumber od @ViewBag.TotalPages
        </div>
    </div>
</div>