@model Bex.Models.VozniParkAlarm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dodavanje alarma</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @*<h4>Zaposleni: @ViewBag.KontaktNaziv</h4>*@
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*@Html.HiddenFor(model => model.KontaktId)*@

                
                <div class="form-group">
                    @Html.LabelFor(model => model.VpId, "Vozilo Id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.VpId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VpId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VpAlarmTip, "Alarm tip", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("VpAlarmTip", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.VpAlarmTip, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Datum, "Datum", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Datum, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Km, "Kilometraza", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Km, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Km, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DatumIsteka, "Datum isteka", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DatumIsteka, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KmIsteka, "Kilometraza isteka", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KmIsteka, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KmIsteka, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DatumAlarma, "Datum alarma", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DatumAlarma, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Napomena, "Napomena", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Napomena, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Napomena, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "../VozniPark")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
</div>
</div>