@model Bex.Models.Cenovnik
@using BexMVC.Helpers

@{
                /**/

                ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div id="page-wrapper">
        <br />

        @*@Html.HiddenFor(model => model.ModelId)
            @Html.HiddenFor(model => model.SubVozacId)
            @Html.HiddenFor(model => model.SubOdgovornoLiceId)*@

        <div class="panel panel-default">

            <div class="panel-heading">
                Dodavanje cenovnika

                @*<div class="pull-right">
                        <div class="btn-group">
                            <input type="submit" value="Sacuvaj" class="btn btn-default btn-xs" />
                        </div>
                    </div>*@
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.BrojCenovnika, "Broj cenovnika", htmlAttributes: new { @class = "control-label col-md-2 small" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.BrojCenovnika, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.BrojCenovnika, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.LabelFor(model => model.DatumCenovnika, "Datum cenovnika", htmlAttributes: new { @class = "control-label col-md-2 small" })
                                <div class="col-md-10">
                                    @*@Html.TextBoxFor(model => model.DatumRegistracije, "{0:yyyy-MM-dd}", new { @class = "form-control input-sm", type = "date" })*@
                                    @Html.TextBoxFor(model => model.DatumCenovnika, "{0:yyyy-MM-dd}", new { @class = " form-control  datepicker-dat-cenovnika" })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OpisCenovnika, "Opis cenovnika", htmlAttributes: new { @class = "control-label col-md-2 small" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.OpisCenovnika, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.OpisCenovnika, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Storno, "Storno", htmlAttributes: new { @class = "control-label col-md-2 small" })
                                <div class="col-md-10">
                                    @Html.CheckBoxFor(model => model.Storno, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(model => model.Storno, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Snimi" class="btn btn-default pull-right" />
                                </div>
                            </div>

                            @*<div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>*@
                        }
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed" aria-expanded="false">Cene</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <div id="EditDeatilsPartial">
                                        @Html.Action("EditDetailsCenePartial", new { id = Url.RequestContext.RouteData.Values["id"] })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->

        </div>

        <div>
            @Html.ActionLink("Back to List", "../Cenovnik")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script type="text/javascript">

                $('.datepicker-dat-cenovnika').datepicker({
                    format: 'yyyy-mm-dd'
                    //,
                    //showOn: "button",
                    //buttonImage: "../Content/images/calendar.gif",
                    //buttonText: "Select date"
                });

                $(document).ready(function () {
                    $("#models").autocomplete({
                        source: function (request, response) {
                            //alert(request.term);
                            $.ajax({
                                url: "/Ugovor/SelectBoxModel",
                                type: "GET",
                                dataType: "json",
                                data: { Prefix: request.term },
                                success: function (data) {
                                    response($.map(data, function (item) {
                                        return {
                                            label: item.NazivModela,
                                            id: item.Id
                                        }
                                    }));

                                }
                            })
                        },
                        messages: {
                            noResults: "", results: ""
                        }
                    });
                })


            </script>



        }
    </div>
</div>
