@*@model PagedList.PagedList < EFproject.ViewModels.KontaktIndexData>*@
@model BexMVC.ViewModels.KontaktIndexData
@*@using PagedList.Mvc;*@
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@{
    ViewBag.Title = "Kontak";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Evidencija kontakti</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                &nbsp;
                <div class="pull-left">
                    @using (Html.BeginForm("", "Kontakt", FormMethod.Get))
            {
                        <p>
                            Pretraga po imenu: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                            <input type="submit" value="Trazi" />
                        </p>
                    }

                </div>


                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Opcije
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                @Html.ActionLink("Dodaj novi kontakt", "Create")
                            </li>
                            <li>
                                @Html.ActionLink("Dodaj zaposlenog", "Create")
                            </li>
                            <li>
                                @Html.ActionLink("Dodaj korisnika", "Create")
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Stampaj</a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Naziv</th>
                    <th>Adresa</th>
                    <th>Pravno</th>
                    <th>Stranac</th>


                </tr>
                @foreach (var item in Model.Kontakts)
                {
                    string selectedRow = "";
                    if (item.Id == ViewBag.KontaktId)
                    {
                        selectedRow = "success";
                    }
                    <tr class="@selectedRow" valign="top">
                        <td>
                            @Html.ActionLink("Select", "Index", new { id = item.Id, pravno = item.PravnoLice }) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adresa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PravnoLice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stranac)
                        </td>


                    </tr>
                }
            </table>
        </div>
        <br />

        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#detailsKontaktFPlice" data-toggle="tab" aria-expanded="true">Detalji</a>
            </li>
            <li class="">
                <a href="#kontaktAdrese" data-toggle="tab" aria-expanded="false">Adrese</a>
            </li>
            <li class="">
                <a href="#kontaktTel" data-toggle="tab" aria-expanded="false">Telefoni</a>
            </li>
            <li class="">
                <a href="#kontaktEmail" data-toggle="tab" aria-expanded="false">Email</a>
            </li>
            <li class="">
                <a href="#kontaktZiroRacuni" data-toggle="tab" aria-expanded="false">Ziro racuni</a>
            </li>
            <li class="">
                <a href="#kontaktDelatnost" data-toggle="tab" aria-expanded="false">Delatnost</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="detailsKontaktFPlice">

                @if (Model.KontaktsFizickaLica != null)
                {
                    @*<h3>Detaljit by Selected Kontakt</h3>*@
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Detalji o kontaktu
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opcije
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            @Html.ActionLink("Dodaj ", "../KontaktFizickoLice/CreateFL", new { kontaktId = ViewBag.KontaktId })
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>D. rodjenja</th>
                                <th>Mesto rodjenja</th>
                                <th>Drzavljanstvo</th>
                                <th>Broj lk</th>
                                <th>D. isteka lk</th>
                                <th>Mesto izdavanja lk</th>
                                <th>Broj vozacke</th>
                                <th>D. isteka vozacke</th>
                                <th>Kategorije</th>
                                <th>Mesto izdavanja vozacke</th>
                                <th>Broj pasosa</th>
                                <th>D. isteka pasosa</th>
                                <th>Mesto izdavanja pasosa</th>
                                <th>Pol</th>
                            </tr>

                            @{
                                var item = Model.KontaktsFizickaLica;
                            }


                            <tr>
                                <td>
                                    @*@Html.ActionLink("Select", "Index", new { kontaktId = item.KontaktId })*@
                                    @Html.ActionLink("Izmeni ", "../KontaktFizickoLice/Edit", new { id = item.Id,kontaktId=item.KontaktId})
                                </td>
                                <td>
                                   
                                    @item.DatumRodjenja; 
                                </td>
                                <td>
                                    @item.MestoRodjenja
                                </td>
                                <td>
                                    @item.Drzavljanstvo
                                </td>
                                <td>
                                    @item.BrojLicneKarte
                                </td>
                                <td>
                                    @item.DatumIstekaLicneKarte
                                </td>
                                <td>
                                    @item.MestoIzdavanjaLicneKarte
                                </td>
                                <td>
                                    @item.BrojVozackeDozvole
                                </td>
                                <td>
                                    @item.DatumIstekaVozackeDozvole
                                </td>
                                <td>
                                    @item.KategorijaVozackeDozvole
                                </td>
                                <td>
                                    @item.MestoIzdavanjaVozackeDozvole
                                </td>
                                <td>
                                    @item.BrojPasosa
                                </td>
                                <td>
                                    @item.DatumIstekaPasosa
                                </td>
                                <td>
                                    @item.MestoIzdavanjaPasosa
                                </td>
                                <td>
                                    @item.Pol
                                </td>
                            </tr>


                        </table>
                    </div>
                                }
                @if (Model.KontaktsPravnaLica != null)
                {
                    @*<h3>Detaljit by Selected Kontakt</h3>*@
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Detalji o kontaktu
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opcije
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>PIB</th>
                                <th>Maticni broj</th>
                                <th>Direktor</th>
                                @*<th>Delatnost</th>*@
                            </tr>

                            @{
                                var itemPravno = Model.KontaktsPravnaLica;
                            }


                            <tr>
                                <td>
                                    @Html.ActionLink("Select", "Index", new { kontaktId = itemPravno.KontaktId })
                                </td>
                                <td>
                                    @itemPravno.PIB
                                </td>
                                <td>
                                    @itemPravno.MaticniBroj
                                </td>
                                <td>
                                    @itemPravno.Direktor
                                </td>
                                @*<td>
                                        @itemPravno.KontaktDelatnost.NazivDelatnosti
                                    </td>*@
                            </tr>


                        </table>
                    </div>
                                }
            </div>
            <div class="tab-pane fade" id="kontaktAdrese">
                @if (Model.KontaktAdresa != null)
                {

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Detalji o zaposlenju
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opcije
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <table class="table">
                            <tr>
                                <th>Id</th>
                                <th>KontaktId</th>
                                <th>PakId</th>
                                <th>BrojTxt</th>

                            </tr>
                            @foreach (var adresa in Model.KontaktAdresa)
                            {
                                <tr>
                                    <td>
                                        @adresa.Id
                                    </td>
                                    <td>
                                        @adresa.KontaktId
                                    </td>
                                    <td>
                                        @adresa.PakId
                                    </td>
                                    <td>
                                        @adresa.BrojTxt
                                    </td>


                                </tr>
                            }
                        </table>
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="kontaktTel">

                @if (Model.KontaktTelefon != null)
                {

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Detalji o telefonima
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opcije
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            @Html.ActionLink("Dodaj ", "../KontaktTelefon/Create", new { kontaktId = ViewBag.KontaktId })
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <table class="table">
                            <tr>
                                <th>Kontakt osoba</th>
                                <th>Telefon</th>


                            </tr>
                            @foreach (var tell in Model.KontaktTelefon)
                            {
                                <tr>
                                    <td>
                                        @tell.KontaktOsoba
                                    </td>
                                    <td>
                                        @tell.Telefon
                                    </td>

                                </tr>
                            }
                        </table>
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="kontaktEmail">

                @if (Model.KontaktEmail != null)
                {

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Detalji o email
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opcije
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <table class="table">
                            <tr>
                                <th>Email adresa</th>


                            </tr>
                            @foreach (var email in Model.KontaktEmail)
                            {
                                <tr>
                                    <td>
                                        @email.EmailAdresa
                                    </td>



                                </tr>
                            }
                        </table>
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="kontaktZiroRacuni">

                @if (Model.KontaktZiroRacun != null)
                {

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Detalji o ziro racunima
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opcije
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <table class="table">
                            <tr>
                                <th>Ziro racun</th>
                                <th>Banka</th>


                            </tr>
                            @foreach (var zr in Model.KontaktZiroRacun)
                            {
                                <tr>
                                    <td>
                                        @zr.BrojZiroRacuna
                                    </td>
                                    <td>
                                        @zr.Banka
                                    </td>




                                </tr>
                            }
                        </table>
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="kontaktDelatnost">

                @if (Model.KontaktDelatnost != null)
                {

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Detalji o delatnosti
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Opcije
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                        <table class="table">
                            <tr>
                                <th>Sifra delatnosti</th>
                                <th>Naziv delatnosti</th>


                            </tr>
                            @foreach (var del in Model.KontaktDelatnost)
                            {
                                <tr>
                                    <td>
                                        @del.SifraDelatnosti
                                    </td>
                                    <td>
                                        @del.NazivDelatnosti
                                    </td>




                                </tr>
                            }
                        </table>
                    </div>
                }
            </div>
        </div>
</div>
</div>