@model BexMVC.ViewModels.UserIndexData
@using BexMVC.Helpers
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="card">

                <div class="card-header card-header-primary">

                    <h2 class="card-title" style="color:#666;">Izmena korisnika @ViewBag.UserName</h2>

                </div>

                <div class="card-body">
                    <div class="container">
                        <div class="container-fluid" style="margin-bottom:10px;">

                            <!-- Breadcrumbs-->
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="../User">Registrovani korisnici</a>
                                </li>
                                <li class="breadcrumb-item active">Izmena korisnika</li>
                            </ol>

                            <!-- Page Content -->
                            <h3>Izmena korisnika</h3>
                            <hr>
                            <p>Popunjavanjem podataka registrovani korisnik postaje aktivan i prebacuje se u Bex korisnike</p>

                        </div>

                        @using (Html.BeginForm("Edit", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { onkeydown = "return event.keyCode!=13", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="hidden" id="Aktivan" name="Aktivan" value="false">
                            <input type="hidden" id="Klijent" name="Klijent" value="false">
                            @Html.HiddenFor(model => model.KontaktId, new { id = "KontaktId" })
                            @Html.HiddenFor(model => model.AspNetUserId, new { Value = @ViewBag.AspNetUserId })

                            <div class="form-group ui-widget">
                                <label class="control-label col-sm-2" for="kontakt">
                                    <a href="../Kontakt/Create" target="_blank"><i class="fa fa-link fa-fw"></i><u>Kontakt</u></a>
                                </label>
                                <div class="col-sm-10">
                                    <input id="kontakt" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Bar kod</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.BarKod, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(model => model.BarKod, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Region</label>
                                <div class="col-sm-10">
                                    @Html.DropDownList("RegionId", null, htmlAttributes: new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Uloge</label>
                                <div class="col-sm-10">
                                    @Html.DropDownList("RoleId", null, htmlAttributes: new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Aktivan">Aktivan</label>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <label class="form-check-label control-label">
                                            <input class="form-check-input" type="checkbox" value="" id="AktivanCheck">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="Klijent">Klijent</label>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <label class="form-check-label control-label">
                                            <input class="form-check-input" type="checkbox" value="" id="KlijentCheck">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2"></label>
                                <div class="col-sm-10">
                                    <div class="btn-group pull-right ">
                                        <input type="submit" value="Sačuvaj" class="btn btn-default btn-xs" />
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
            <script src="//code.jquery.com/jquery-1.12.4.js"></script>
            <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                   
                    $("#kontakt").autocomplete({
                        source: function (request, response) {

                            $.ajax({
                                url: "/Kontakt/GetKontaktAutocomplete?query=" + request.term + "&isPravno=false&isAll=false",
                                dataType: "json",
                                success: function (data) {
                                    response($.map(data, function (v, i) {
                                        return {
                                            value: v.Name,
                                            id: v.Id
                                        };
                                    }));
                                }
                            });
                        },
                        minLength: 2,
                        select: function (event, ui) {
                            $('#KontaktId').val(ui.item.id);
                            //console.log("Kontakt ---- Selected: " + ui.item.id + " aka " + ui.item.value);
                        }
                    });

                    
                    $('#AktivanCheck').change(function () {

                        $('#Aktivan').val($(this).is(':checked'))

                    });

                    
                    $('#KlijentCheck').change(function () {

                        $('#Klijent').val($(this).is(':checked'))

                    });
                });

            </script>
        }
    </div>
</div>

