
@model BexMVC.ViewModels.TPocitavanjaIndexData

@{
    ViewBag.Title = "Tehnički pregled: Termini";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h2 class="card-title" style="color:#666;">Očitavanja tehničkog pregleda</h2>
                    <p class="card-category">Pregled očitavanja tehničkog pregleda</p>
                </div>
                <!-- /.col-lg-12 -->
                @*<input type="hidden" value="@ViewBag.IsFilter" id="isFilter" />*@
                <div class="card-body">
                    <div id="toolbar" class="columns columns-left btn-group ">

                        @*<button id="create" class="btn btn-primary">
            @Html.ActionLink("Dodaj", "Create", "", new { @class = "white_link" })
        </button>*@
                        <button id="add" class="btn btn-primary">
                            Dodaj
                        </button>
                        <button id="edit" class="btn btn-primary" disabled>
                            Izmeni
                        </button>

                        @*<button id="gorivo" class="btn btn-primary" disabled>
            Točenje goriva
        </button>*@

                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="print" disabled>
                                Štampa
                            </button>
                            <ul class="dropdown-menu pull-left" role="menu">
                                <li>
                                    <a href="#" id="btnTPocitavanje">Očitavanje</a>
                                    <input id="reportTPocitavanje" value="TPocitavanjeReport" type="hidden" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="panel-default" id="reportDiv">
                        <button type="button" class="close" id="btnCloseReportDiv">zatvori ×</button>
                        <div class="row" id="divReport">

                        </div>
                    </div>
                    
                    <div class="table-responsive" style="min-height:300px;">
                        <table id="table"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-query-params="queryParams"
                               data-show-refresh="true"
                               data-show-columns="true"
                               data-show-export="true"
                               data-filter-control="true"
                               data-detail-view="true"
                               data-page-list="[10, 25, 50, 100]"
                               data-toolbar="#toolbar">

                            <thead>

                                <tr>
                                    <th data-checkbox="true"></th>
                                    <th data-field="Id" data-sortable="true" data-filter-control="input">Broj očitavanja</th>
                                    <th data-field="DatumOcitavanja" data-formatter="dateFormat" data-filter-control="datepicker" data-sortable="true">Datum očitavanja</th>
                                    <th data-field="BrojSasije" data-sortable="true" data-filter-control="input">Broj šasije</th>
                                    <th data-field="BrojMotora" data-sortable="true" data-filter-control="input">Broj motora</th>
                                    @*<th data-field="LokacijaTP" data-filter-control="select" data-filter-data="url:/TPtermini/GetLokacija" data-sortable="true">Lokacija</th>*@
                                    <th data-field="KategorijaVozila" data-sortable="true" data-filter-control="input">Kategorija</th>
                                    <th data-field="KaroserijaVozila" data-sortable="true" data-filter-control="input">Karoserija</th>
                                    <th data-field="Model" data-sortable="true" data-filter-control="input">Model</th>
                                    <th data-field="Boja" data-sortable="true" data-filter-control="input">Boja</th>
                                    <th data-field="BrojVrata" data-sortable="true" data-filter-control="input">Broj vrata</th>
                                    @*<th data-field="Kontrolor" data-sortable="true" data-filter-control="input">Kontrolor</th>*@
                                    <th data-field="Uneo" data-sortable="true" data-filter-control="input">Uneo</th>
                                    <th data-field="Napomena" data-sortable="true" data-filter-control="input">Napomena</th>

                                </tr>

                            </thead>

                        </table>

                    </div>
                </div>
            </div>
        </div>


        @section Scripts {

            @Scripts.Render("~/bundles/jqueryval") @*For validate and validate-unobtrusive*@
            @Scripts.Render("~/bundles/tableConfig")

            <script type="text/javascript">
                var $table = $('#table');
            var $edit = $('#edit'),
                $add = $('#add'),
                    $gorivo = $('#gorivo'),
                    $opcije = $('#opcije'),
                    $print = $('#print');
                $("#reportDiv").hide();

            //var $filterId = @ViewBag.FilterId;


                //if ($filterId == 1 ) {
                //    //$table.addFilter("Storno", "false");
                //    //$("#KmUkupno").value("0");
                //    $table.addFilter("KmUkupno", "0");
                //}

                 @*var $statusId = @ViewBag.StatusId;

                if ($statusId == 1) {
                    $table.addFilter("StatusTermina", "Slobodno");
                } else if ($statusId == 2) {
                    $table.addFilter("StatusTermina", "Rezervisano");
                } else if ($statusId == 3) {
                    $table.addFilter("StatusTermina", "Za proveru");
                }

                var $lokacijaId = @ViewBag.LokacijaId;

                if ($lokacijaId == 1) {
                    $table.addFilter("LokacijaTP", "Šabac");
                } else if ($lokacijaId == 2) {
                    $table.addFilter("LokacijaTP", "BG 1");
                } else if ($lokacijaId == 3) {
                    $table.addFilter("LokacijaTP", "BG 2");
                    }*@

            var danas = new Date().toISOString().slice(0, 10);



            //$table.addFilter("DatumTermina", danas + " to " + danas);
            //$table.addFilter("LokacijaTP", "Šabac");
                $table.configTable('/TPocitavanja/GetTPocitavanja');
                $table.hideColTable();

                $(document).ready(function () {

                    var $checkTableElements = [$edit, $opcije, $print];
                    $table.checkOptionsTable($checkTableElements);

                    $table.optionsTable();

                    $add.clickButtonWithoutParams('TPocitavanja/Create');
                    $edit.clickOptions('TPocitavanja/Edit?id=');

                    //$('#DatumTermina').dateRangePicker({
                    //    autoClose: true
                    //}).bind('datepicker-closed', function () {
                    //    var izabranDatum = $('#DatumTermina').val();
                    //    if (izabranDatum !== "") {
                    //        $table.addFilter("DatumTermina", izabranDatum);
                    //        $table.refreshTable();
                    //    }
                    //    });
                    //$('#DatumStop').dateRangePicker({
                    //    autoClose: true
                    //}).bind('datepicker-closed', function () {
                    //    var izabranDatum = $('#DatumStop').val();
                    //    if (izabranDatum !== "") {
                    //        $table.addFilter("DatumStop", izabranDatum);
                    //        $table.refreshTable();
                    //    }
                    //});






                    //$gorivo.clickOptions('Gorivo/Create?id=');

                    $('#btnTPocitavanje').click(function () {
                        $("#reportDiv").show();
                        var reportName = $("#reportTPocitavanje").val();
                        var ids = getIdSelections();

                        var src = '../../Reports/BaseReport.aspx?';
                        src = src + "reportName=" + reportName
                        src = src + "&ocitavanjeId=" + ids[0].ocitavanjeId;

                        var iframe = '<iframe id="reportFrame" width="100%" height="800" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
                        $("#divReport").html(iframe);
                    });

                    $('#btnCloseReportDiv').click(function () {
                        $("#reportDiv").hide();
                    });

                });






                $(window).resize(function () {
                    $('#table').bootstrapTable('resetView');
                });

                function getIdSelections() {
                    return $.map($table.bootstrapTable('getSelections'), function (row) {
                        var paramsSelection = { ocitavanjeId: row.Id };
                        return paramsSelection
                    });
                }
            </script>
        }
    </div>
</div>