<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/appStyle")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (!Request.IsAuthenticated)
    {
        <div class="container body-content">

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - D&D traffic</p>
            </footer>
        </div>
    }
    else
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <a href="Home">
                            <img src="~/images/3.png" style="width:70px;padding:10px;" />
                        </a>

                    </div>


                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("D&D traffic", "Index", "Home")</li>
                        <li>@Html.ActionLink("Vozni park", "Index", "VozniPark")</li>
                        <li>@Html.ActionLink("Zaposleni", "Index", "Zaposleni")</li>
                        <li class="companymenuli">
                            <a class="alisting">Održavanje  <b class="caret"></b></a>
                            <ul class="submenu">
                                <li>@Html.ActionLink("Servisi", "Index", "Servisi")</li>
                                <li>@Html.ActionLink("Popravke", "Index", "VpPopravke")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Alarmi", "Index", "Alarmi")</li>
                        <li>@Html.ActionLink("Putni nalog", "Index", "PutniNalog")</li>
                        <li>@Html.ActionLink("Evidencija", "Index", "EvidencijaVozaca")</li>
                        <li>@Html.ActionLink("Gorivo", "Index", "Gorivo")</li>
                        <li>@Html.ActionLink("Novosti", "Index", "Novosti")</li>
                        <li>@Html.ActionLink("Android", "About", "Home")</li>
                        <li>@Html.ActionLink("Izloguj se", "LogOff", "Account")</li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="container body-content">

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - D&D traffic</p>
            </footer>
        </div>
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/appJS")
    @RenderSection("scripts", required: false)
</body>
</html>
